<div class="page" *ngIf="playing">
  <audio #audio src='{{playing.location}}'
  (timeupdate) = 'timeUpdate(audio , slider)'
  (ended)      = 'changeTrack(audio)'>
  </audio>
  <div class="container music-player">
    <div class="row player">
      <div class="col-md-4 col-sm-12">
        <a class="thumbnail">
        <img src="{{playing.cover}}" class="cover" height="236">
        </a>
      </div>
      <div class="col-md-8 col-sm-12 controls">
        <div class="col-md-12 names">
          <span>{{playing.artist}}</span> -
          <span>{{playing.name}}</span>
        </div>
        <br><br>
        <div class="col-md-12">
          <span class="pull-left">{{minutes | number : '2.0'}} : {{seconds | number : '2.0'}}</span>
          <div class="btn-group center-me" role="group">
            <button type="button" class="btn btn-default" (click)="rewind(audio)"><span class="glyphicon glyphicon-fast-backward"></span></button>
            <button type="button" class="btn btn-primary" (click)="playPause(audio)"><span class="glyphicon {{btn}}"></span></button>
            <button type="button" class="btn btn-default" (click)="forward(audio)"><span class="glyphicon glyphicon-fast-forward"></span></button>
          </div>
          <span class="pull-right">{{durationMinutes| number : '2.0'}}:{{durationSeconds | number : '2.0'}}</span>
          <br><br>
          <input type="range" #slider
                  (mousedown) = 'mouseDown()'
                  (mousemove) = 'seekUpdate(audio,slider)'
                  (mouseup)   = 'mouseUp()'>

        </div>

      </div>
      </div>
      <div class="row">
        <ul class="list-group">
            <song  [track]="song" *ngFor="let song of playlist" (onChange)="play(audio,song)" [playing]="playing"></song>
        </ul>
      </div>
  </div>


</div>
